@import url("path/to/font-awesome/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: url(../img/Model-3-Main.jpg) no-repeat center center/cover;
  font: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* line-height: 1.7em; */
}

/* header {
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    color: white;
    font-family:  "Fira Code", SFMono-Regular, Consolas;
    position: relative;
    top: 50%;
  } 
   */

header {
  display: inline-block;
  width: 100%;
  height: 50px;
  /* text-align: center; */
  /* color: white; */
  font-size: 13px;
 overflow: hidden;
}

#topnav-left {
  width: 20%;
  /* height: 100%; */
  float: left;
  height: 100%;
  min-width: 20%;
}

#logo{
    max-width: 70%;
    margin-top: 13px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}
/* .container{
    padding: 10px;
    display: inline-block;
} */

ul, ol {
    list-style: none;
}

#topnav-center {
    float: right;
  /* margin-right: 50px; */
  top: 0;
  height: 100%;
  width: 60%;
  min-width: 60%;
}

#topnav-center ol {
  width: 100%;
  padding-right: 100px;
  /* float: right; */
  min-width: 100%;
}

#topnav-center ol li {
  float: left;
  padding: 10px;
  padding-left: 30px;
}

#topnav-right {
  top: 0;
  height: 100%;
  float: right;
  width: 20%;
  height: 100%;
  /* min-width: 20%; */
}

#topnav-right ul {
  /* float: right; */
  padding-right: 30px;
  width: 100%;
  /* min-width: 80%; */
}
#topnav-right ul li{
  list-style: none;
  float: right;
  padding: 10px;
  padding-right: 0;
}

.clr {
  clear: both;
}

div {
  border: 1px solid rgb(198, 167, 46);
}

.model{
    border: 3px red solid;
    display: block;
    width: 100%;
    margin-top: 30px;
    /* margin-left: 500px; */
    /* margin-right: 900px; */
}

.model .container {
    width:fit-content;
    margin: auto;
}
.container h1{
    color: white;
    font-size: 20px;
    padding-left: 25px;
}
.container p{
    font-size: 12px;
}

#sidenav {
    display: block;
    position: relative;
    border: 2px solid blue;
    width: 150px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.45);
    left: 10px;
    z-index: 1;
    position: absolute;
    /* display:none */
}

.sideline{
    /* position: absolute; */
    /* float: left; */
    width: 3px;
    height: px;
    margin-left: 10px;
    margin-top: 2px;
} 

.nav-content li {
    width: 20px;
    margin-top: 3px;
    margin-left: 10px;
}

#sidenav .container .nav-content .sideline:hover{
    cursor: pointer;
    margin-left: 10px;
    visibility: visible;
    background-color: red;
}


/* Utilities*/

/*fonts*/
f-light {
  color: #fff;
}
f-dark {
  color: #000;
}

/*backgound*/
bg-light {
  background-color: #fff;
}

bg-dark {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

/*
font-weight--book: 400;
font-weight--light: 300;
font-weight--medium: 500;
font-weight--xlight: 200;
*/
