@import url("path/to/font-awesome/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

body .section-one {
    width: 100%;   
    background: url(../img/Model-3-Main.jpg) no-repeat center center/cover;
  /* max-width: 1100px; */
  font: #fff;
  /* line-height: 1.7em; */
}

.section-one, .section-two, .section-three {
    height: 500px;
    /* background-color: #000; */
}

.section-two{
    display: block;
    background: url(../img/model-3-shield.jpg) no-repeat center center/cover;
}

.section-three{
    display: block;
    background: url(../img/Model-3-Performance.jpg) no-repeat center center/cover;
}

header {
  display: inline-block;
  border: 1px solid rgb(198, 167, 46);
  width: 100%;
  height: 6%;
  font-size: 8px;
  overflow: hidden;
}

.container #logo {
  border: 1px solid red;
  padding: 0 1px;
  margin: 7px 20px;
}
#logo {
  float: left;
  width: 100px;
}

ul,
li {
  list-style: none;
}

header #topnav-center {
  top: 0;
  border: 1px solid rgb(198, 167, 46);
  float: right;
  height: 100%;
  width: 40%;
}

.nav-content {
  width: 100%;
  height: 100%;
}
.nav-content li {
  border: 1px solid rgb(198, 167, 46);
  padding: 5px;
  margin: 0 3px;
}

#topnav-center .nav-content li {
  float: left;
}

#topnav-right .nav-content li {
  float: right;
}

header #topnav-right {
  height: 100%;
  float: right;
  width: 24%;
}

.clr {
  clear: both;
}

div {
  border: 1px solid rgb(198, 167, 46);
}

.model {
  border: 1px solid rgb(198, 167, 46);
  width: 100%;
  margin: 50px auto;
}

.model .container {
  width: fit-content;
  margin: auto;
  margin-bottom: 250px;
}
.container h1 {
  color: #fff;
  font-size: 20px;
  padding-left: 25px;
}
.container p {
  font-size: 12px;
}

#sidenav {
  /* display: block;
  position: relative; */
  border: 2px solid blue;
  width: 50px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.45);
  left: 10px;
  z-index: 1;
  float: left;
  position: sticky;
  top: 0;
  /* display:none */
}

.sideline {
top: 0;
  position:sticky;
  float: left;
  width: 3px;
  margin-left: 10px;
  margin-top: 2px;
}

/* .nav-content li {
  width: 20px;
  margin-top: 3px;
  margin-left: 10px;
} */

#sidenav .container .nav-content .sideline:hover {
  cursor: pointer;
  margin-left: 10px;
  visibility: visible;
  background-color: red;
}

.section-one .model-specs {
  border: 1px solid rgb(46, 170, 198);
  bottom: 0;
  width: 500px;
  margin: auto;
  color: #fff;
  text-align: center;
}

.model-specs ul {
  float: left;
  height: 40px;
  width: 100%;
  border: 3px solid rgb(99, 46, 198);
  color: #fff;
}
.model-specs ul li {
  float: left;
  border: 1px solid rgb(46, 198, 129);
  color: #fff;
  margin-left: 50px
}
.model-specs ul h2 {
  border: 1px solid rgb(46, 198, 129);
  color: #fff;
  font-size: 15px;
}
.model-specs ul p {
  border: 1px solid rgb(46, 198, 129);
  color: #fff;
  font-size: 7px;
  
}

/* current-color{
    color: #fff;
} */


/* svg */
/*
#speedometer{
    position: relative;
    width: 50px;
    height: 30px;
}
#speedometer .dial {
    position: absolute;
    rotate: 90deg;
    width: 10%;
    top: 55%;
    right: 25%;
    background-color: #fff;
}
#speedometer .outer{
    bottom: 0%;
    left: 0;
    position: absolute;
    width: 100%;
}
#speedometer .inner .svg-color{
    position: absolute;
    width: 82%;
    bottom: 5%;
    left: 10%;
}
*/


#box-buy {
  border: 2px solid #fff;
  height: 80%;
  width: 150px;
  float: right;
  margin: 3px;
  cursor: pointer;
}

/* #box-buy .btn-buy{
  font-weight: bold;
  font-size: 7px;
} */

#box-buy .btn-buy p{
  border: 1px solid rgb(255, 50, 64);
  font-weight: bold;
  font-size: 10px;
  background-color: rgba(0, 255, 170, 0);
}
/* Utilities*/
f-light {
  
}
f-dark {
}

/*backgound*/
.bg-light:hover {
    background-color: #fff;
    color: #000;
}

.bg-dark:hover {
  background-color: #000;
  color: #fff;

}

/*fonts*/
/* .btn-buy:hover {
  float: left;
  margin: 0 auto;
  padding: 4px;
  font-size: 10px;
  cursor: pointer;
} */


a {
  text-decoration: none;
  color: #fff;
}



/*
font-weight--book: 400;
font-weight--light: 300;
font-weight--medium: 500;
font-weight--xlight: 200;
*/
